--
-- PostgreSQL database dump
--

\restrict 8aM3yZCecjfcqrD6yvZOA1oyc4tYxCmCbPe53zYqQc9cIYOgeLp86rd9UGacJ6J

-- Dumped from database version 16.10 (Debian 16.10-1.pgdg13+1)
-- Dumped by pg_dump version 16.10 (Debian 16.10-1.pgdg13+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: AccessScope; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."AccessScope" AS ENUM (
    'SYSTEM',
    'ORGANIZATION',
    'SITE'
);


ALTER TYPE public."AccessScope" OWNER TO postgres;

--
-- Name: CommunicationChannel; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."CommunicationChannel" AS ENUM (
    'PHONE',
    'EMAIL',
    'VISIT',
    'KAKAO',
    'SMS',
    'FAX',
    'OTHER'
);


ALTER TYPE public."CommunicationChannel" OWNER TO postgres;

--
-- Name: CommunicationDirection; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."CommunicationDirection" AS ENUM (
    'INBOUND',
    'OUTBOUND'
);


ALTER TYPE public."CommunicationDirection" OWNER TO postgres;

--
-- Name: CommunicationStatus; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."CommunicationStatus" AS ENUM (
    'PENDING',
    'IN_PROGRESS',
    'COMPLETED',
    'REFERENCE'
);


ALTER TYPE public."CommunicationStatus" OWNER TO postgres;

--
-- Name: CustomerStatus; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."CustomerStatus" AS ENUM (
    'DRAFT',
    'CONNECTED'
);


ALTER TYPE public."CustomerStatus" OWNER TO postgres;

--
-- Name: InvoiceStatus; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."InvoiceStatus" AS ENUM (
    'PENDING',
    'PAID',
    'OVERDUE',
    'CANCELLED'
);


ALTER TYPE public."InvoiceStatus" OWNER TO postgres;

--
-- Name: NotificationType; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."NotificationType" AS ENUM (
    'STACK_CREATED_BY_CUSTOMER',
    'STACK_UPDATED_BY_CUSTOMER',
    'STACK_CREATED_BY_ORG',
    'STACK_UPDATED_BY_ORG',
    'STACK_VERIFIED_BY_CUSTOMER',
    'STACK_INTERNAL_CODE_NEEDED',
    'CUSTOMER_INFO_UPDATED_BY_ORG',
    'CUSTOMER_INFO_UPDATED_BY_CUSTOMER',
    'CONNECTION_REQUEST',
    'CONTRACT_EXPIRY_30',
    'CONTRACT_EXPIRY_21',
    'CONTRACT_EXPIRY_14',
    'CONTRACT_EXPIRY_7',
    'CONTRACT_EXPIRY_DAILY',
    'CONTRACT_EXPIRED',
    'COMMUNICATION_MENTION',
    'COMMUNICATION_URGENT',
    'COMMUNICATION_CLIENT_REQUEST',
    'COMMUNICATION_ASSIGNED',
    'COMMUNICATION_STATUS_CHANGED'
);


ALTER TYPE public."NotificationType" OWNER TO postgres;

--
-- Name: Priority; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."Priority" AS ENUM (
    'URGENT',
    'HIGH',
    'NORMAL',
    'LOW'
);


ALTER TYPE public."Priority" OWNER TO postgres;

--
-- Name: SubscriptionPlan; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."SubscriptionPlan" AS ENUM (
    'FREE',
    'BASIC',
    'PLUS',
    'MASTER',
    'STANDARD',
    'PREMIUM',
    'ENTERPRISE'
);


ALTER TYPE public."SubscriptionPlan" OWNER TO postgres;

--
-- Name: SubscriptionStatus; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."SubscriptionStatus" AS ENUM (
    'TRIAL',
    'ACTIVE',
    'EXPIRED',
    'SUSPENDED',
    'CANCELLED'
);


ALTER TYPE public."SubscriptionStatus" OWNER TO postgres;

--
-- Name: UserRole; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."UserRole" AS ENUM (
    'SUPER_ADMIN',
    'ORG_ADMIN',
    'OPERATOR',
    'CUSTOMER_ADMIN',
    'CUSTOMER_USER'
);


ALTER TYPE public."UserRole" OWNER TO postgres;

--
-- Name: UserStatus; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."UserStatus" AS ENUM (
    'PENDING',
    'APPROVED',
    'REJECTED',
    'SUSPENDED',
    'WITHDRAWN'
);


ALTER TYPE public."UserStatus" OWNER TO postgres;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: ActivityLog; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."ActivityLog" (
    id text NOT NULL,
    "userId" text NOT NULL,
    action text NOT NULL,
    target text,
    "targetId" text,
    details text,
    "ipAddress" text,
    "userAgent" text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public."ActivityLog" OWNER TO postgres;

--
-- Name: Contract; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Contract" (
    id text NOT NULL,
    "organizationId" text NOT NULL,
    "customerId" text NOT NULL,
    "startDate" timestamp(3) without time zone NOT NULL,
    "endDate" timestamp(3) without time zone NOT NULL,
    status text DEFAULT 'ACTIVE'::text NOT NULL,
    "lastNotifiedAt" timestamp(3) without time zone,
    memo text,
    "createdBy" text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."Contract" OWNER TO postgres;

--
-- Name: CustomRole; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."CustomRole" (
    id text NOT NULL,
    "organizationId" text,
    "customerId" text,
    name text NOT NULL,
    description text,
    "templateId" text,
    "isActive" boolean DEFAULT true NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "createdBy" text NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."CustomRole" OWNER TO postgres;

--
-- Name: CustomRolePermission; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."CustomRolePermission" (
    id text NOT NULL,
    "roleId" text NOT NULL,
    "permissionCode" text NOT NULL,
    granted boolean DEFAULT true NOT NULL
);


ALTER TABLE public."CustomRolePermission" OWNER TO postgres;

--
-- Name: Customer; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Customer" (
    id text NOT NULL,
    name text NOT NULL,
    code text,
    "businessNumber" text,
    "corporateNumber" text,
    "fullName" text,
    representative text,
    "siteType" text,
    address text,
    "businessType" text,
    industry text,
    "siteCategory" text,
    "contractStartDate" timestamp(3) without time zone,
    "contractEndDate" timestamp(3) without time zone,
    "groupId" text,
    "createdBy" text,
    "isPublic" boolean DEFAULT false NOT NULL,
    "mergedIntoId" text,
    "mergedAt" timestamp(3) without time zone,
    status public."CustomerStatus" DEFAULT 'CONNECTED'::public."CustomerStatus" NOT NULL,
    "draftCreatedBy" text,
    "draftCreatedAt" timestamp(3) without time zone,
    "isVerified" boolean DEFAULT true NOT NULL,
    "lastModifiedBy" text,
    "lastModifiedAt" timestamp(3) without time zone,
    "subscriptionPlan" public."SubscriptionPlan" DEFAULT 'FREE'::public."SubscriptionPlan" NOT NULL,
    "subscriptionStatus" public."SubscriptionStatus" DEFAULT 'TRIAL'::public."SubscriptionStatus" NOT NULL,
    "hideSubscriptionInfo" boolean DEFAULT false NOT NULL,
    "isActive" boolean DEFAULT true NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."Customer" OWNER TO postgres;

--
-- Name: CustomerAssignment; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."CustomerAssignment" (
    id text NOT NULL,
    "userId" text NOT NULL,
    "customerId" text NOT NULL,
    "isPrimary" boolean DEFAULT false NOT NULL,
    "assignedBy" text NOT NULL,
    "assignedAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public."CustomerAssignment" OWNER TO postgres;

--
-- Name: CustomerGroup; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."CustomerGroup" (
    id text NOT NULL,
    name text NOT NULL,
    "businessNumber" text NOT NULL,
    address text,
    industry text,
    representative text,
    "isActive" boolean DEFAULT true NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."CustomerGroup" OWNER TO postgres;

--
-- Name: CustomerInvitation; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."CustomerInvitation" (
    id text NOT NULL,
    token text NOT NULL,
    "customerId" text NOT NULL,
    "organizationId" text NOT NULL,
    "adminEmail" text,
    "adminName" text,
    "adminPhone" text,
    "suggestedRole" text,
    "roleNote" text,
    status text DEFAULT 'PENDING'::text NOT NULL,
    "expiresAt" timestamp(3) without time zone NOT NULL,
    "usedAt" timestamp(3) without time zone,
    "usedBy" text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "createdBy" text NOT NULL
);


ALTER TABLE public."CustomerInvitation" OWNER TO postgres;

--
-- Name: CustomerOrganization; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."CustomerOrganization" (
    id text NOT NULL,
    "customerId" text NOT NULL,
    "organizationId" text NOT NULL,
    status text DEFAULT 'PENDING'::text NOT NULL,
    "requestedBy" text NOT NULL,
    "contractStartDate" timestamp(3) without time zone,
    "contractEndDate" timestamp(3) without time zone,
    "customCode" text,
    nickname text,
    "proposedData" jsonb,
    "notified30Days" boolean DEFAULT false NOT NULL,
    "notified21Days" boolean DEFAULT false NOT NULL,
    "notified14Days" boolean DEFAULT false NOT NULL,
    "notified7Days" boolean DEFAULT false NOT NULL,
    "notifiedExpiry" boolean DEFAULT false NOT NULL,
    "isActive" boolean DEFAULT true NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    "approvedAt" timestamp(3) without time zone,
    "approvedBy" text
);


ALTER TABLE public."CustomerOrganization" OWNER TO postgres;

--
-- Name: EmissionLimit; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."EmissionLimit" (
    id text NOT NULL,
    "itemKey" text NOT NULL,
    "limit" double precision NOT NULL,
    region text,
    "customerId" text DEFAULT ''::text NOT NULL,
    "stackId" text DEFAULT ''::text NOT NULL,
    "isActive" boolean DEFAULT true NOT NULL,
    "createdBy" text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."EmissionLimit" OWNER TO postgres;

--
-- Name: Invoice; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Invoice" (
    id text NOT NULL,
    "organizationId" text NOT NULL,
    "invoiceNumber" text NOT NULL,
    amount double precision NOT NULL,
    currency text DEFAULT 'KRW'::text NOT NULL,
    status public."InvoiceStatus" DEFAULT 'PENDING'::public."InvoiceStatus" NOT NULL,
    "billingPeriodStart" timestamp(3) without time zone NOT NULL,
    "billingPeriodEnd" timestamp(3) without time zone NOT NULL,
    "issuedAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "dueDate" timestamp(3) without time zone NOT NULL,
    "paidAt" timestamp(3) without time zone,
    "paymentMethod" text
);


ALTER TABLE public."Invoice" OWNER TO postgres;

--
-- Name: Item; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Item" (
    key text NOT NULL,
    name text NOT NULL,
    "englishName" text,
    unit text,
    "limit" double precision,
    category text,
    classification text,
    "analysisMethod" text,
    "hasLimit" boolean,
    "isActive" boolean DEFAULT true NOT NULL,
    "order" integer DEFAULT 0 NOT NULL,
    "inputType" text DEFAULT 'number'::text,
    options text
);


ALTER TABLE public."Item" OWNER TO postgres;

--
-- Name: ItemLimitHistory; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."ItemLimitHistory" (
    id text NOT NULL,
    "itemKey" text NOT NULL,
    "limit" double precision NOT NULL,
    "effectiveFrom" timestamp(3) without time zone,
    "effectiveTo" timestamp(3) without time zone,
    source text
);


ALTER TABLE public."ItemLimitHistory" OWNER TO postgres;

--
-- Name: Measurement; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Measurement" (
    id text NOT NULL,
    "customerId" text NOT NULL,
    "stackId" text NOT NULL,
    "itemKey" text NOT NULL,
    value double precision NOT NULL,
    "measuredAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "organizationId" text NOT NULL,
    weather text,
    "temperatureC" double precision,
    "humidityPct" double precision,
    "pressureMmHg" double precision,
    "windDirection" text,
    "windSpeedMs" double precision,
    "gasVelocityMs" double precision,
    "gasTempC" double precision,
    "moisturePct" double precision,
    "oxygenMeasuredPct" double precision,
    "oxygenStdPct" double precision,
    "flowSm3Min" double precision,
    "limitAtMeasure" double precision,
    "limitCheck" text,
    "measuringCompany" text,
    "isActive" boolean DEFAULT true NOT NULL
);


ALTER TABLE public."Measurement" OWNER TO postgres;

--
-- Name: MeasurementTemp; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."MeasurementTemp" (
    id text NOT NULL,
    "tempId" text NOT NULL,
    "customerId" text NOT NULL,
    "stackId" text NOT NULL,
    "measurementDate" timestamp(3) without time zone NOT NULL,
    measurements text NOT NULL,
    "auxiliaryData" text,
    status text DEFAULT '?꾩떆???::text NOT NULL,
    "createdBy" text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."MeasurementTemp" OWNER TO postgres;

--
-- Name: Notification; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Notification" (
    id text NOT NULL,
    "userId" text NOT NULL,
    type public."NotificationType" NOT NULL,
    title text NOT NULL,
    message text NOT NULL,
    "stackId" text,
    "customerId" text,
    "isRead" boolean DEFAULT false NOT NULL,
    "readAt" timestamp(3) without time zone,
    metadata text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public."Notification" OWNER TO postgres;

--
-- Name: Organization; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Organization" (
    id text NOT NULL,
    name text NOT NULL,
    "businessNumber" text,
    "corporateNumber" text,
    "businessType" text,
    address text,
    phone text,
    email text,
    representative text,
    website text,
    fax text,
    "establishedDate" timestamp(3) without time zone,
    "subscriptionPlan" public."SubscriptionPlan" DEFAULT 'FREE'::public."SubscriptionPlan" NOT NULL,
    "subscriptionStatus" public."SubscriptionStatus" DEFAULT 'TRIAL'::public."SubscriptionStatus" NOT NULL,
    "subscriptionStartAt" timestamp(3) without time zone,
    "subscriptionEndAt" timestamp(3) without time zone,
    "maxUsers" integer DEFAULT 1 NOT NULL,
    "maxStacks" integer DEFAULT 5 NOT NULL,
    "maxDataRetention" integer DEFAULT 365 NOT NULL,
    "billingEmail" text,
    "billingContact" text,
    "lastPaymentAt" timestamp(3) without time zone,
    "nextBillingAt" timestamp(3) without time zone,
    "hasContractManagement" boolean DEFAULT false NOT NULL,
    "hideSubscriptionInfo" boolean DEFAULT false NOT NULL,
    "isActive" boolean DEFAULT true NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."Organization" OWNER TO postgres;

--
-- Name: PermissionChangeLog; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."PermissionChangeLog" (
    id text NOT NULL,
    "changedBy" text NOT NULL,
    "changerRole" text NOT NULL,
    "changerName" text NOT NULL,
    "targetUser" text NOT NULL,
    "targetName" text NOT NULL,
    "targetRole" text NOT NULL,
    "changeType" text NOT NULL,
    "fromValue" text,
    "toValue" text NOT NULL,
    reason text,
    "changedAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "ipAddress" text,
    "userAgent" text,
    success boolean NOT NULL,
    "errorMsg" text
);


ALTER TABLE public."PermissionChangeLog" OWNER TO postgres;

--
-- Name: Report; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Report" (
    id text NOT NULL,
    version integer DEFAULT 1 NOT NULL,
    "parentId" text,
    "customerId" text NOT NULL,
    "stackId" text NOT NULL,
    "measuredAt" timestamp(3) without time zone NOT NULL,
    "companyName" text NOT NULL,
    address text,
    representative text,
    "environmentalTech" text,
    industry text,
    "facilityType" text,
    "siteCategory" text,
    purpose text,
    "stackName" text NOT NULL,
    "stackHeight" double precision,
    "stackDiameter" double precision,
    "stackType" text,
    "requestedItems" text,
    weather text,
    temp double precision,
    humidity double precision,
    pressure double precision,
    "windDir" text,
    wind double precision,
    "o2Standard" double precision,
    "o2Measured" double precision,
    flow double precision,
    "flowCorrected" double precision,
    moisture double precision,
    "gasTemp" double precision,
    "gasVel" double precision,
    "gasNote" text,
    "samplingDate" timestamp(3) without time zone NOT NULL,
    "samplingStart" text,
    "samplingEnd" text,
    sampler text,
    sampler2 text,
    measurements text NOT NULL,
    "analysisStart" text,
    "analysisEnd" text,
    analyst text,
    "chiefTech" text,
    opinion text,
    status text DEFAULT 'DRAFT'::text NOT NULL,
    "createdBy" text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."Report" OWNER TO postgres;

--
-- Name: ReportTemplate; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."ReportTemplate" (
    id text NOT NULL,
    "customerId" text NOT NULL,
    "environmentalTech" text,
    "chiefTech" text,
    analyst text,
    sampler text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."ReportTemplate" OWNER TO postgres;

--
-- Name: RoleTemplate; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."RoleTemplate" (
    id text NOT NULL,
    code text NOT NULL,
    name text NOT NULL,
    description text,
    category text NOT NULL,
    "isSystem" boolean DEFAULT true NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."RoleTemplate" OWNER TO postgres;

--
-- Name: RoleTemplatePermission; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."RoleTemplatePermission" (
    id text NOT NULL,
    "templateId" text NOT NULL,
    "permissionCode" text NOT NULL
);


ALTER TABLE public."RoleTemplatePermission" OWNER TO postgres;

--
-- Name: Stack; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Stack" (
    id text NOT NULL,
    "customerId" text NOT NULL,
    "siteCode" text DEFAULT ''::text NOT NULL,
    "siteName" text DEFAULT ''::text NOT NULL,
    name text NOT NULL,
    code text,
    "fullName" text,
    "facilityType" text,
    category text,
    location text,
    height double precision,
    diameter double precision,
    coordinates text,
    description text,
    "isActive" boolean DEFAULT true NOT NULL,
    "isVerified" boolean DEFAULT false NOT NULL,
    "verifiedBy" text,
    "verifiedAt" timestamp(3) without time zone,
    status text,
    "draftCreatedBy" text,
    "draftCreatedAt" timestamp(3) without time zone,
    "createdBy" text DEFAULT 'SYSTEM'::text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public."Stack" OWNER TO postgres;

--
-- Name: StackAlias; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."StackAlias" (
    id text NOT NULL,
    "stackId" text NOT NULL,
    alias text NOT NULL,
    type text
);


ALTER TABLE public."StackAlias" OWNER TO postgres;

--
-- Name: StackAssignment; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."StackAssignment" (
    id text NOT NULL,
    "userId" text NOT NULL,
    "stackId" text NOT NULL,
    "isPrimary" boolean DEFAULT false NOT NULL,
    "assignedAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "assignedBy" text NOT NULL
);


ALTER TABLE public."StackAssignment" OWNER TO postgres;

--
-- Name: StackCode; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."StackCode" (
    id text NOT NULL,
    "stackId" text NOT NULL,
    "organizationId" text NOT NULL,
    "internalCode" text NOT NULL,
    "internalName" text,
    description text,
    "isActive" boolean DEFAULT true NOT NULL,
    "isPrimary" boolean DEFAULT false NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    "createdBy" text NOT NULL
);


ALTER TABLE public."StackCode" OWNER TO postgres;

--
-- Name: StackHistory; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."StackHistory" (
    id text NOT NULL,
    "stackId" text NOT NULL,
    "fieldName" text NOT NULL,
    "previousValue" text,
    "newValue" text,
    "changeReason" text,
    "changedBy" text NOT NULL,
    "changedAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public."StackHistory" OWNER TO postgres;

--
-- Name: StackMeasurementItem; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."StackMeasurementItem" (
    id text NOT NULL,
    "stackId" text NOT NULL,
    "itemKey" text NOT NULL,
    "isActive" boolean DEFAULT true NOT NULL,
    "order" integer DEFAULT 0 NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."StackMeasurementItem" OWNER TO postgres;

--
-- Name: StackOrganization; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."StackOrganization" (
    id text NOT NULL,
    "stackId" text NOT NULL,
    "organizationId" text NOT NULL,
    status text DEFAULT 'PENDING'::text NOT NULL,
    "isPrimary" boolean DEFAULT false NOT NULL,
    "requestedAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "requestedBy" text NOT NULL,
    "approvedAt" timestamp(3) without time zone,
    "approvedBy" text
);


ALTER TABLE public."StackOrganization" OWNER TO postgres;

--
-- Name: StackRequest; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."StackRequest" (
    id text NOT NULL,
    "customerId" text NOT NULL,
    "organizationId" text NOT NULL,
    "requestType" text NOT NULL,
    "stackName" text,
    "stackCode" text,
    location text,
    height double precision,
    diameter double precision,
    coordinates text,
    description text,
    "existingStackId" text,
    status text DEFAULT 'PENDING'::text NOT NULL,
    "requestedBy" text NOT NULL,
    "requestedAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "reviewedBy" text,
    "reviewedAt" timestamp(3) without time zone,
    "rejectionReason" text
);


ALTER TABLE public."StackRequest" OWNER TO postgres;

--
-- Name: StackUpdateLog; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."StackUpdateLog" (
    id text NOT NULL,
    "stackId" text NOT NULL,
    "updatedBy" text NOT NULL,
    "updatedAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    changes text NOT NULL,
    "changeType" text NOT NULL,
    "notificationSent" boolean DEFAULT false NOT NULL,
    "notifiedOrgs" text NOT NULL
);


ALTER TABLE public."StackUpdateLog" OWNER TO postgres;

--
-- Name: StagingMeasurementRaw; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."StagingMeasurementRaw" (
    id text NOT NULL,
    "sourceFile" text NOT NULL,
    "rowNo" integer NOT NULL,
    "rawJson" text NOT NULL,
    "ingestedAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public."StagingMeasurementRaw" OWNER TO postgres;

--
-- Name: SubscriptionHistory; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."SubscriptionHistory" (
    id text NOT NULL,
    "organizationId" text NOT NULL,
    plan public."SubscriptionPlan" NOT NULL,
    status public."SubscriptionStatus" NOT NULL,
    "startDate" timestamp(3) without time zone NOT NULL,
    "endDate" timestamp(3) without time zone,
    amount double precision,
    reason text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public."SubscriptionHistory" OWNER TO postgres;

--
-- Name: SystemSettings; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."SystemSettings" (
    id text NOT NULL,
    key text NOT NULL,
    value text NOT NULL,
    description text,
    category text,
    "isActive" boolean DEFAULT true NOT NULL,
    "updatedBy" text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."SystemSettings" OWNER TO postgres;

--
-- Name: User; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."User" (
    id text NOT NULL,
    email text NOT NULL,
    password text NOT NULL,
    name text NOT NULL,
    phone text,
    "organizationId" text,
    role public."UserRole" DEFAULT 'CUSTOMER_USER'::public."UserRole" NOT NULL,
    "customerId" text,
    "customerGroupId" text,
    "customRoleId" text,
    "accessScope" public."AccessScope" DEFAULT 'SITE'::public."AccessScope" NOT NULL,
    department text,
    "position" text,
    "companyName" text,
    "businessNumber" text,
    status public."UserStatus" DEFAULT 'PENDING'::public."UserStatus" NOT NULL,
    "isActive" boolean DEFAULT true NOT NULL,
    "emailVerified" boolean DEFAULT false NOT NULL,
    "emailVerifiedAt" timestamp(3) without time zone,
    "approvedBy" text,
    "approvedAt" timestamp(3) without time zone,
    "rejectedReason" text,
    "lastLoginAt" timestamp(3) without time zone,
    "lastLoginIp" text,
    "loginCount" integer DEFAULT 0 NOT NULL,
    "resetToken" text,
    "resetTokenExpiry" timestamp(3) without time zone,
    "passwordResetRequired" boolean DEFAULT false NOT NULL,
    "inviteToken" text,
    "inviteTokenExpiry" timestamp(3) without time zone,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."User" OWNER TO postgres;

--
-- Name: UserPermission; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."UserPermission" (
    id text NOT NULL,
    "userId" text NOT NULL,
    "permissionCode" text NOT NULL,
    granted boolean NOT NULL,
    "grantedBy" text NOT NULL,
    "grantedAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    reason text,
    "expiresAt" timestamp(3) without time zone
);


ALTER TABLE public."UserPermission" OWNER TO postgres;

--
-- Name: _prisma_migrations; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public._prisma_migrations (
    id character varying(36) NOT NULL,
    checksum character varying(64) NOT NULL,
    finished_at timestamp with time zone,
    migration_name character varying(255) NOT NULL,
    logs text,
    rolled_back_at timestamp with time zone,
    started_at timestamp with time zone DEFAULT now() NOT NULL,
    applied_steps_count integer DEFAULT 0 NOT NULL
);


ALTER TABLE public._prisma_migrations OWNER TO postgres;

--
-- Name: communication_attachments; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.communication_attachments (
    id text NOT NULL,
    "communicationId" text NOT NULL,
    filename text NOT NULL,
    "originalFilename" text NOT NULL,
    "fileUrl" text NOT NULL,
    "fileSize" integer NOT NULL,
    "mimeType" text NOT NULL,
    "uploadedById" text NOT NULL,
    "uploadedAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.communication_attachments OWNER TO postgres;

--
-- Name: communication_notes; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.communication_notes (
    id text NOT NULL,
    "communicationId" text NOT NULL,
    note text NOT NULL,
    "organizationId" text,
    "customerId" text,
    "mentionedUserId" text,
    "createdById" text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.communication_notes OWNER TO postgres;

--
-- Name: communication_replies; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.communication_replies (
    id text NOT NULL,
    "communicationId" text NOT NULL,
    content text NOT NULL,
    direction public."CommunicationDirection" NOT NULL,
    "createdById" text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.communication_replies OWNER TO postgres;

--
-- Name: communication_templates; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.communication_templates (
    id text NOT NULL,
    title text NOT NULL,
    content text NOT NULL,
    channel public."CommunicationChannel",
    category text,
    "organizationId" text,
    "isShared" boolean DEFAULT false NOT NULL,
    "sortOrder" integer DEFAULT 0 NOT NULL,
    "createdById" text NOT NULL,
    "usageCount" integer DEFAULT 0 NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public.communication_templates OWNER TO postgres;

--
-- Name: communications; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.communications (
    id text NOT NULL,
    "customerId" text NOT NULL,
    "measurementId" text,
    "stackId" text,
    "contactAt" timestamp(3) without time zone NOT NULL,
    channel public."CommunicationChannel" NOT NULL,
    direction public."CommunicationDirection" NOT NULL,
    subject text,
    content text NOT NULL,
    status public."CommunicationStatus" DEFAULT 'PENDING'::public."CommunicationStatus" NOT NULL,
    priority public."Priority" DEFAULT 'NORMAL'::public."Priority" NOT NULL,
    "createdById" text NOT NULL,
    "assignedToId" text,
    "contactPerson" text,
    "contactOrg" text,
    "isShared" boolean DEFAULT true NOT NULL,
    "isDeleted" boolean DEFAULT false NOT NULL,
    "deletedAt" timestamp(3) without time zone,
    "deletedById" text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public.communications OWNER TO postgres;

--
-- Name: insight_reports; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.insight_reports (
    id text NOT NULL,
    "customerId" text NOT NULL,
    "itemKey" text NOT NULL,
    "itemName" text NOT NULL,
    periods integer NOT NULL,
    "reportData" text NOT NULL,
    "chartImage" text,
    "pdfBase64" text NOT NULL,
    "sharedAt" timestamp(3) without time zone,
    "sharedBy" text,
    "viewedAt" timestamp(3) without time zone,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "createdBy" text NOT NULL
);


ALTER TABLE public.insight_reports OWNER TO postgres;

--
-- Data for Name: ActivityLog; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: Contract; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."Contract" (id, "organizationId", "customerId", "startDate", "endDate", status, "lastNotifiedAt", memo, "createdBy", "createdAt", "updatedAt") FROM stdin;
\.


--
-- Data for Name: CustomRole; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."CustomRole" (id, "organizationId", "customerId", name, description, "templateId", "isActive", "createdAt", "createdBy", "updatedAt") FROM stdin;
\.


--
-- Data for Name: CustomRolePermission; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."CustomRolePermission" (id, "roleId", "permissionCode", granted) FROM stdin;
\.


--
-- Data for Name: Customer; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: CustomerAssignment; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."CustomerAssignment" (id, "userId", "customerId", "isPrimary", "assignedBy", "assignedAt") FROM stdin;
\.


--
-- Data for Name: CustomerGroup; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."CustomerGroup" (id, name, "businessNumber", address, industry, representative, "isActive", "createdAt", "updatedAt") FROM stdin;
\.


--
-- Data for Name: CustomerInvitation; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."CustomerInvitation" (id, token, "customerId", "organizationId", "adminEmail", "adminName", "adminPhone", "suggestedRole", "roleNote", status, "expiresAt", "usedAt", "usedBy", "createdAt", "createdBy") FROM stdin;
\.


--
-- Data for Name: CustomerOrganization; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."CustomerOrganization" (id, "customerId", "organizationId", status, "requestedBy", "contractStartDate", "contractEndDate", "customCode", nickname, "proposedData", "notified30Days", "notified21Days", "notified14Days", "notified7Days", "notifiedExpiry", "isActive", "createdAt", "updatedAt", "approvedAt", "approvedBy") FROM stdin;
\.


--
-- Data for Name: EmissionLimit; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: Invoice; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."Invoice" (id, "organizationId", "invoiceNumber", amount, currency, status, "billingPeriodStart", "billingPeriodEnd", "issuedAt", "dueDate", "paidAt", "paymentMethod") FROM stdin;
\.


--
-- Data for Name: Item; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: ItemLimitHistory; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."ItemLimitHistory" (id, "itemKey", "limit", "effectiveFrom", "effectiveTo", source) FROM stdin;
\.


--
-- Data for Name: Measurement; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: MeasurementTemp; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: Notification; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."Notification" (id, "userId", type, title, message, "stackId", "customerId", "isRead", "readAt", metadata, "createdAt") FROM stdin;
\.


--
-- Data for Name: Organization; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: PermissionChangeLog; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."PermissionChangeLog" (id, "changedBy", "changerRole", "changerName", "targetUser", "targetName", "targetRole", "changeType", "fromValue", "toValue", reason, "changedAt", "ipAddress", "userAgent", success, "errorMsg") FROM stdin;
\.


--
-- Data for Name: Report; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: ReportTemplate; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."ReportTemplate" (id, "customerId", "environmentalTech", "chiefTech", analyst, sampler, "createdAt", "updatedAt") FROM stdin;
\.


--
-- Data for Name: RoleTemplate; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."RoleTemplate" (id, code, name, description, category, "isSystem", "createdAt", "updatedAt") FROM stdin;
\.


--
-- Data for Name: RoleTemplatePermission; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."RoleTemplatePermission" (id, "templateId", "permissionCode") FROM stdin;
\.


--
-- Data for Name: Stack; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: StackAlias; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."StackAlias" (id, "stackId", alias, type) FROM stdin;
\.


--
-- Data for Name: StackAssignment; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."StackAssignment" (id, "userId", "stackId", "isPrimary", "assignedAt", "assignedBy") FROM stdin;
\.


--
-- Data for Name: StackCode; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."StackCode" (id, "stackId", "organizationId", "internalCode", "internalName", description, "isActive", "isPrimary", "createdAt", "updatedAt", "createdBy") FROM stdin;
\.


--
-- Data for Name: StackHistory; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."StackHistory" (id, "stackId", "fieldName", "previousValue", "newValue", "changeReason", "changedBy", "changedAt") FROM stdin;
\.


--
-- Data for Name: StackMeasurementItem; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: StackOrganization; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: StackRequest; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."StackRequest" (id, "customerId", "organizationId", "requestType", "stackName", "stackCode", location, height, diameter, coordinates, description, "existingStackId", status, "requestedBy", "requestedAt", "reviewedBy", "reviewedAt", "rejectionReason") FROM stdin;
\.


--
-- Data for Name: StackUpdateLog; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."StackUpdateLog" (id, "stackId", "updatedBy", "updatedAt", changes, "changeType", "notificationSent", "notifiedOrgs") FROM stdin;
\.


--
-- Data for Name: StagingMeasurementRaw; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."StagingMeasurementRaw" (id, "sourceFile", "rowNo", "rawJson", "ingestedAt") FROM stdin;
\.


--
-- Data for Name: SubscriptionHistory; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."SubscriptionHistory" (id, "organizationId", plan, status, "startDate", "endDate", amount, reason, "createdAt") FROM stdin;
\.


--
-- Data for Name: SystemSettings; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."SystemSettings" (id, key, value, description, category, "isActive", "updatedBy", "createdAt", "updatedAt") FROM stdin;
\.


--
-- Data for Name: User; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: UserPermission; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."UserPermission" (id, "userId", "permissionCode", granted, "grantedBy", "grantedAt", reason, "expiresAt") FROM stdin;
\.


--
-- Data for Name: _prisma_migrations; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public._prisma_migrations (id, checksum, finished_at, migration_name, logs, rolled_back_at, started_at, applied_steps_count) FROM stdin;
65810342-88a0-4d51-b624-b044b986d0c1	18f44f09ff580a2f3afe0205acf12df56085e70cb5c6587769320ec205b805fc	2025-11-11 16:53:18.397174+00	20251110000000_init	\N	\N	2025-11-11 16:53:17.080064+00	1
\.


--
-- Data for Name: communication_attachments; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.communication_attachments (id, "communicationId", filename, "originalFilename", "fileUrl", "fileSize", "mimeType", "uploadedById", "uploadedAt") FROM stdin;
\.


--
-- Data for Name: communication_notes; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.communication_notes (id, "communicationId", note, "organizationId", "customerId", "mentionedUserId", "createdById", "createdAt") FROM stdin;
\.


--
-- Data for Name: communication_replies; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.communication_replies (id, "communicationId", content, direction, "createdById", "createdAt") FROM stdin;
\.


--
-- Data for Name: communication_templates; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.communication_templates (id, title, content, channel, category, "organizationId", "isShared", "sortOrder", "createdById", "usageCount", "createdAt", "updatedAt") FROM stdin;
\.


--
-- Data for Name: communications; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.communications (id, "customerId", "measurementId", "stackId", "contactAt", channel, direction, subject, content, status, priority, "createdById", "assignedToId", "contactPerson", "contactOrg", "isShared", "isDeleted", "deletedAt", "deletedById", "createdAt", "updatedAt") FROM stdin;
\.


--
-- Data for Name: insight_reports; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.insight_reports (id, "customerId", "itemKey", "itemName", periods, "reportData", "chartImage", "pdfBase64", "sharedAt", "sharedBy", "viewedAt", "createdAt", "createdBy") FROM stdin;
\.


--
-- Name: ActivityLog ActivityLog_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."ActivityLog"
    ADD CONSTRAINT "ActivityLog_pkey" PRIMARY KEY (id);


--
-- Name: Contract Contract_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Contract"
    ADD CONSTRAINT "Contract_pkey" PRIMARY KEY (id);


--
-- Name: CustomRolePermission CustomRolePermission_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."CustomRolePermission"
    ADD CONSTRAINT "CustomRolePermission_pkey" PRIMARY KEY (id);


--
-- Name: CustomRole CustomRole_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."CustomRole"
    ADD CONSTRAINT "CustomRole_pkey" PRIMARY KEY (id);


--
-- Name: CustomerAssignment CustomerAssignment_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."CustomerAssignment"
    ADD CONSTRAINT "CustomerAssignment_pkey" PRIMARY KEY (id);


--
-- Name: CustomerGroup CustomerGroup_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."CustomerGroup"
    ADD CONSTRAINT "CustomerGroup_pkey" PRIMARY KEY (id);


--
-- Name: CustomerInvitation CustomerInvitation_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."CustomerInvitation"
    ADD CONSTRAINT "CustomerInvitation_pkey" PRIMARY KEY (id);


--
-- Name: CustomerOrganization CustomerOrganization_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."CustomerOrganization"
    ADD CONSTRAINT "CustomerOrganization_pkey" PRIMARY KEY (id);


--
-- Name: Customer Customer_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Customer"
    ADD CONSTRAINT "Customer_pkey" PRIMARY KEY (id);


--
-- Name: EmissionLimit EmissionLimit_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."EmissionLimit"
    ADD CONSTRAINT "EmissionLimit_pkey" PRIMARY KEY (id);


--
-- Name: Invoice Invoice_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Invoice"
    ADD CONSTRAINT "Invoice_pkey" PRIMARY KEY (id);


--
-- Name: ItemLimitHistory ItemLimitHistory_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."ItemLimitHistory"
    ADD CONSTRAINT "ItemLimitHistory_pkey" PRIMARY KEY (id);


--
-- Name: Item Item_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Item"
    ADD CONSTRAINT "Item_pkey" PRIMARY KEY (key);


--
-- Name: MeasurementTemp MeasurementTemp_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."MeasurementTemp"
    ADD CONSTRAINT "MeasurementTemp_pkey" PRIMARY KEY (id);


--
-- Name: Measurement Measurement_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Measurement"
    ADD CONSTRAINT "Measurement_pkey" PRIMARY KEY (id);


--
-- Name: Notification Notification_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Notification"
    ADD CONSTRAINT "Notification_pkey" PRIMARY KEY (id);


--
-- Name: Organization Organization_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Organization"
    ADD CONSTRAINT "Organization_pkey" PRIMARY KEY (id);


--
-- Name: PermissionChangeLog PermissionChangeLog_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."PermissionChangeLog"
    ADD CONSTRAINT "PermissionChangeLog_pkey" PRIMARY KEY (id);


--
-- Name: ReportTemplate ReportTemplate_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."ReportTemplate"
    ADD CONSTRAINT "ReportTemplate_pkey" PRIMARY KEY (id);


--
-- Name: Report Report_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Report"
    ADD CONSTRAINT "Report_pkey" PRIMARY KEY (id);


--
-- Name: RoleTemplatePermission RoleTemplatePermission_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."RoleTemplatePermission"
    ADD CONSTRAINT "RoleTemplatePermission_pkey" PRIMARY KEY (id);


--
-- Name: RoleTemplate RoleTemplate_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."RoleTemplate"
    ADD CONSTRAINT "RoleTemplate_pkey" PRIMARY KEY (id);


--
-- Name: StackAlias StackAlias_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."StackAlias"
    ADD CONSTRAINT "StackAlias_pkey" PRIMARY KEY (id);


--
-- Name: StackAssignment StackAssignment_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."StackAssignment"
    ADD CONSTRAINT "StackAssignment_pkey" PRIMARY KEY (id);


--
-- Name: StackCode StackCode_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."StackCode"
    ADD CONSTRAINT "StackCode_pkey" PRIMARY KEY (id);


--
-- Name: StackHistory StackHistory_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."StackHistory"
    ADD CONSTRAINT "StackHistory_pkey" PRIMARY KEY (id);


--
-- Name: StackMeasurementItem StackMeasurementItem_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."StackMeasurementItem"
    ADD CONSTRAINT "StackMeasurementItem_pkey" PRIMARY KEY (id);


--
-- Name: StackOrganization StackOrganization_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."StackOrganization"
    ADD CONSTRAINT "StackOrganization_pkey" PRIMARY KEY (id);


--
-- Name: StackRequest StackRequest_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."StackRequest"
    ADD CONSTRAINT "StackRequest_pkey" PRIMARY KEY (id);


--
-- Name: StackUpdateLog StackUpdateLog_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."StackUpdateLog"
    ADD CONSTRAINT "StackUpdateLog_pkey" PRIMARY KEY (id);


--
-- Name: Stack Stack_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Stack"
    ADD CONSTRAINT "Stack_pkey" PRIMARY KEY (id);


--
-- Name: StagingMeasurementRaw StagingMeasurementRaw_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."StagingMeasurementRaw"
    ADD CONSTRAINT "StagingMeasurementRaw_pkey" PRIMARY KEY (id);


--
-- Name: SubscriptionHistory SubscriptionHistory_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."SubscriptionHistory"
    ADD CONSTRAINT "SubscriptionHistory_pkey" PRIMARY KEY (id);


--
-- Name: SystemSettings SystemSettings_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."SystemSettings"
    ADD CONSTRAINT "SystemSettings_pkey" PRIMARY KEY (id);


--
-- Name: UserPermission UserPermission_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."UserPermission"
    ADD CONSTRAINT "UserPermission_pkey" PRIMARY KEY (id);


--
-- Name: User User_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."User"
    ADD CONSTRAINT "User_pkey" PRIMARY KEY (id);


--
-- Name: _prisma_migrations _prisma_migrations_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public._prisma_migrations
    ADD CONSTRAINT _prisma_migrations_pkey PRIMARY KEY (id);


--
-- Name: communication_attachments communication_attachments_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.communication_attachments
    ADD CONSTRAINT communication_attachments_pkey PRIMARY KEY (id);


--
-- Name: communication_notes communication_notes_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.communication_notes
    ADD CONSTRAINT communication_notes_pkey PRIMARY KEY (id);


--
-- Name: communication_replies communication_replies_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.communication_replies
    ADD CONSTRAINT communication_replies_pkey PRIMARY KEY (id);


--
-- Name: communication_templates communication_templates_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.communication_templates
    ADD CONSTRAINT communication_templates_pkey PRIMARY KEY (id);


--
-- Name: communications communications_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.communications
    ADD CONSTRAINT communications_pkey PRIMARY KEY (id);


--
-- Name: insight_reports insight_reports_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.insight_reports
    ADD CONSTRAINT insight_reports_pkey PRIMARY KEY (id);


--
-- Name: ActivityLog_action_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "ActivityLog_action_idx" ON public."ActivityLog" USING btree (action);


--
-- Name: ActivityLog_createdAt_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "ActivityLog_createdAt_idx" ON public."ActivityLog" USING btree ("createdAt");


--
-- Name: ActivityLog_userId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "ActivityLog_userId_idx" ON public."ActivityLog" USING btree ("userId");


--
-- Name: Contract_customerId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "Contract_customerId_idx" ON public."Contract" USING btree ("customerId");


--
-- Name: Contract_endDate_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "Contract_endDate_idx" ON public."Contract" USING btree ("endDate");


--
-- Name: Contract_organizationId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "Contract_organizationId_idx" ON public."Contract" USING btree ("organizationId");


--
-- Name: Contract_status_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "Contract_status_idx" ON public."Contract" USING btree (status);


--
-- Name: CustomRolePermission_roleId_permissionCode_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "CustomRolePermission_roleId_permissionCode_key" ON public."CustomRolePermission" USING btree ("roleId", "permissionCode");


--
-- Name: CustomRole_customerId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "CustomRole_customerId_idx" ON public."CustomRole" USING btree ("customerId");


--
-- Name: CustomRole_organizationId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "CustomRole_organizationId_idx" ON public."CustomRole" USING btree ("organizationId");


--
-- Name: CustomRole_organizationId_name_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "CustomRole_organizationId_name_key" ON public."CustomRole" USING btree ("organizationId", name);


--
-- Name: CustomerAssignment_customerId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "CustomerAssignment_customerId_idx" ON public."CustomerAssignment" USING btree ("customerId");


--
-- Name: CustomerAssignment_userId_customerId_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "CustomerAssignment_userId_customerId_key" ON public."CustomerAssignment" USING btree ("userId", "customerId");


--
-- Name: CustomerAssignment_userId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "CustomerAssignment_userId_idx" ON public."CustomerAssignment" USING btree ("userId");


--
-- Name: CustomerGroup_businessNumber_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "CustomerGroup_businessNumber_idx" ON public."CustomerGroup" USING btree ("businessNumber");


--
-- Name: CustomerGroup_businessNumber_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "CustomerGroup_businessNumber_key" ON public."CustomerGroup" USING btree ("businessNumber");


--
-- Name: CustomerInvitation_customerId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "CustomerInvitation_customerId_idx" ON public."CustomerInvitation" USING btree ("customerId");


--
-- Name: CustomerInvitation_organizationId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "CustomerInvitation_organizationId_idx" ON public."CustomerInvitation" USING btree ("organizationId");


--
-- Name: CustomerInvitation_status_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "CustomerInvitation_status_idx" ON public."CustomerInvitation" USING btree (status);


--
-- Name: CustomerInvitation_token_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "CustomerInvitation_token_idx" ON public."CustomerInvitation" USING btree (token);


--
-- Name: CustomerInvitation_token_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "CustomerInvitation_token_key" ON public."CustomerInvitation" USING btree (token);


--
-- Name: CustomerOrganization_contractEndDate_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "CustomerOrganization_contractEndDate_idx" ON public."CustomerOrganization" USING btree ("contractEndDate");


--
-- Name: CustomerOrganization_customerId_organizationId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "CustomerOrganization_customerId_organizationId_idx" ON public."CustomerOrganization" USING btree ("customerId", "organizationId");


--
-- Name: CustomerOrganization_status_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "CustomerOrganization_status_idx" ON public."CustomerOrganization" USING btree (status);


--
-- Name: Customer_businessNumber_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "Customer_businessNumber_idx" ON public."Customer" USING btree ("businessNumber");


--
-- Name: Customer_code_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "Customer_code_idx" ON public."Customer" USING btree (code);


--
-- Name: Customer_createdBy_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "Customer_createdBy_idx" ON public."Customer" USING btree ("createdBy");


--
-- Name: Customer_draftCreatedBy_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "Customer_draftCreatedBy_idx" ON public."Customer" USING btree ("draftCreatedBy");


--
-- Name: Customer_groupId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "Customer_groupId_idx" ON public."Customer" USING btree ("groupId");


--
-- Name: Customer_status_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "Customer_status_idx" ON public."Customer" USING btree (status);


--
-- Name: EmissionLimit_customerId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "EmissionLimit_customerId_idx" ON public."EmissionLimit" USING btree ("customerId");


--
-- Name: EmissionLimit_itemKey_customerId_stackId_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "EmissionLimit_itemKey_customerId_stackId_key" ON public."EmissionLimit" USING btree ("itemKey", "customerId", "stackId");


--
-- Name: EmissionLimit_itemKey_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "EmissionLimit_itemKey_idx" ON public."EmissionLimit" USING btree ("itemKey");


--
-- Name: EmissionLimit_stackId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "EmissionLimit_stackId_idx" ON public."EmissionLimit" USING btree ("stackId");


--
-- Name: Invoice_invoiceNumber_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "Invoice_invoiceNumber_key" ON public."Invoice" USING btree ("invoiceNumber");


--
-- Name: Invoice_organizationId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "Invoice_organizationId_idx" ON public."Invoice" USING btree ("organizationId");


--
-- Name: Invoice_status_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "Invoice_status_idx" ON public."Invoice" USING btree (status);


--
-- Name: ItemLimitHistory_itemKey_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "ItemLimitHistory_itemKey_idx" ON public."ItemLimitHistory" USING btree ("itemKey");


--
-- Name: MeasurementTemp_createdAt_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "MeasurementTemp_createdAt_idx" ON public."MeasurementTemp" USING btree ("createdAt");


--
-- Name: MeasurementTemp_createdBy_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "MeasurementTemp_createdBy_idx" ON public."MeasurementTemp" USING btree ("createdBy");


--
-- Name: MeasurementTemp_customerId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "MeasurementTemp_customerId_idx" ON public."MeasurementTemp" USING btree ("customerId");


--
-- Name: MeasurementTemp_stackId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "MeasurementTemp_stackId_idx" ON public."MeasurementTemp" USING btree ("stackId");


--
-- Name: MeasurementTemp_tempId_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "MeasurementTemp_tempId_key" ON public."MeasurementTemp" USING btree ("tempId");


--
-- Name: Measurement_customerId_organizationId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "Measurement_customerId_organizationId_idx" ON public."Measurement" USING btree ("customerId", "organizationId");


--
-- Name: Measurement_customerId_stackId_itemKey_measuredAt_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "Measurement_customerId_stackId_itemKey_measuredAt_idx" ON public."Measurement" USING btree ("customerId", "stackId", "itemKey", "measuredAt");


--
-- Name: Measurement_customerId_stackId_measuredAt_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "Measurement_customerId_stackId_measuredAt_idx" ON public."Measurement" USING btree ("customerId", "stackId", "measuredAt");


--
-- Name: Measurement_itemKey_measuredAt_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "Measurement_itemKey_measuredAt_idx" ON public."Measurement" USING btree ("itemKey", "measuredAt");


--
-- Name: Measurement_organizationId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "Measurement_organizationId_idx" ON public."Measurement" USING btree ("organizationId");


--
-- Name: Measurement_stackId_itemKey_measuredAt_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "Measurement_stackId_itemKey_measuredAt_key" ON public."Measurement" USING btree ("stackId", "itemKey", "measuredAt");


--
-- Name: Notification_userId_createdAt_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "Notification_userId_createdAt_idx" ON public."Notification" USING btree ("userId", "createdAt");


--
-- Name: Notification_userId_isRead_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "Notification_userId_isRead_idx" ON public."Notification" USING btree ("userId", "isRead");


--
-- Name: Organization_businessNumber_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "Organization_businessNumber_idx" ON public."Organization" USING btree ("businessNumber");


--
-- Name: Organization_businessNumber_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "Organization_businessNumber_key" ON public."Organization" USING btree ("businessNumber");


--
-- Name: Organization_subscriptionStatus_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "Organization_subscriptionStatus_idx" ON public."Organization" USING btree ("subscriptionStatus");


--
-- Name: PermissionChangeLog_changedAt_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "PermissionChangeLog_changedAt_idx" ON public."PermissionChangeLog" USING btree ("changedAt");


--
-- Name: PermissionChangeLog_changedBy_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "PermissionChangeLog_changedBy_idx" ON public."PermissionChangeLog" USING btree ("changedBy");


--
-- Name: PermissionChangeLog_targetUser_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "PermissionChangeLog_targetUser_idx" ON public."PermissionChangeLog" USING btree ("targetUser");


--
-- Name: ReportTemplate_customerId_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "ReportTemplate_customerId_key" ON public."ReportTemplate" USING btree ("customerId");


--
-- Name: Report_createdBy_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "Report_createdBy_idx" ON public."Report" USING btree ("createdBy");


--
-- Name: Report_customerId_stackId_measuredAt_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "Report_customerId_stackId_measuredAt_idx" ON public."Report" USING btree ("customerId", "stackId", "measuredAt");


--
-- Name: Report_status_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "Report_status_idx" ON public."Report" USING btree (status);


--
-- Name: RoleTemplatePermission_templateId_permissionCode_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "RoleTemplatePermission_templateId_permissionCode_key" ON public."RoleTemplatePermission" USING btree ("templateId", "permissionCode");


--
-- Name: RoleTemplate_code_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "RoleTemplate_code_key" ON public."RoleTemplate" USING btree (code);


--
-- Name: StackAlias_alias_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "StackAlias_alias_idx" ON public."StackAlias" USING btree (alias);


--
-- Name: StackAlias_stackId_alias_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "StackAlias_stackId_alias_key" ON public."StackAlias" USING btree ("stackId", alias);


--
-- Name: StackAssignment_stackId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "StackAssignment_stackId_idx" ON public."StackAssignment" USING btree ("stackId");


--
-- Name: StackAssignment_userId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "StackAssignment_userId_idx" ON public."StackAssignment" USING btree ("userId");


--
-- Name: StackAssignment_userId_stackId_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "StackAssignment_userId_stackId_key" ON public."StackAssignment" USING btree ("userId", "stackId");


--
-- Name: StackCode_organizationId_internalCode_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "StackCode_organizationId_internalCode_idx" ON public."StackCode" USING btree ("organizationId", "internalCode");


--
-- Name: StackCode_stackId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "StackCode_stackId_idx" ON public."StackCode" USING btree ("stackId");


--
-- Name: StackCode_stackId_organizationId_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "StackCode_stackId_organizationId_key" ON public."StackCode" USING btree ("stackId", "organizationId");


--
-- Name: StackHistory_changedAt_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "StackHistory_changedAt_idx" ON public."StackHistory" USING btree ("changedAt");


--
-- Name: StackHistory_stackId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "StackHistory_stackId_idx" ON public."StackHistory" USING btree ("stackId");


--
-- Name: StackMeasurementItem_itemKey_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "StackMeasurementItem_itemKey_idx" ON public."StackMeasurementItem" USING btree ("itemKey");


--
-- Name: StackMeasurementItem_stackId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "StackMeasurementItem_stackId_idx" ON public."StackMeasurementItem" USING btree ("stackId");


--
-- Name: StackMeasurementItem_stackId_itemKey_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "StackMeasurementItem_stackId_itemKey_key" ON public."StackMeasurementItem" USING btree ("stackId", "itemKey");


--
-- Name: StackOrganization_stackId_organizationId_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "StackOrganization_stackId_organizationId_key" ON public."StackOrganization" USING btree ("stackId", "organizationId");


--
-- Name: StackOrganization_status_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "StackOrganization_status_idx" ON public."StackOrganization" USING btree (status);


--
-- Name: StackRequest_customerId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "StackRequest_customerId_idx" ON public."StackRequest" USING btree ("customerId");


--
-- Name: StackRequest_status_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "StackRequest_status_idx" ON public."StackRequest" USING btree (status);


--
-- Name: StackUpdateLog_stackId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "StackUpdateLog_stackId_idx" ON public."StackUpdateLog" USING btree ("stackId");


--
-- Name: StackUpdateLog_updatedAt_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "StackUpdateLog_updatedAt_idx" ON public."StackUpdateLog" USING btree ("updatedAt");


--
-- Name: Stack_customerId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "Stack_customerId_idx" ON public."Stack" USING btree ("customerId");


--
-- Name: Stack_customerId_name_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "Stack_customerId_name_key" ON public."Stack" USING btree ("customerId", name);


--
-- Name: Stack_customerId_siteCode_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "Stack_customerId_siteCode_key" ON public."Stack" USING btree ("customerId", "siteCode");


--
-- Name: Stack_isActive_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "Stack_isActive_idx" ON public."Stack" USING btree ("isActive");


--
-- Name: Stack_isVerified_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "Stack_isVerified_idx" ON public."Stack" USING btree ("isVerified");


--
-- Name: StagingMeasurementRaw_sourceFile_rowNo_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "StagingMeasurementRaw_sourceFile_rowNo_idx" ON public."StagingMeasurementRaw" USING btree ("sourceFile", "rowNo");


--
-- Name: SubscriptionHistory_organizationId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "SubscriptionHistory_organizationId_idx" ON public."SubscriptionHistory" USING btree ("organizationId");


--
-- Name: SystemSettings_category_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "SystemSettings_category_idx" ON public."SystemSettings" USING btree (category);


--
-- Name: SystemSettings_key_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "SystemSettings_key_idx" ON public."SystemSettings" USING btree (key);


--
-- Name: SystemSettings_key_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "SystemSettings_key_key" ON public."SystemSettings" USING btree (key);


--
-- Name: UserPermission_expiresAt_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "UserPermission_expiresAt_idx" ON public."UserPermission" USING btree ("expiresAt");


--
-- Name: UserPermission_userId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "UserPermission_userId_idx" ON public."UserPermission" USING btree ("userId");


--
-- Name: UserPermission_userId_permissionCode_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "UserPermission_userId_permissionCode_key" ON public."UserPermission" USING btree ("userId", "permissionCode");


--
-- Name: User_customerId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "User_customerId_idx" ON public."User" USING btree ("customerId");


--
-- Name: User_email_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "User_email_idx" ON public."User" USING btree (email);


--
-- Name: User_email_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "User_email_key" ON public."User" USING btree (email);


--
-- Name: User_organizationId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "User_organizationId_idx" ON public."User" USING btree ("organizationId");


--
-- Name: User_role_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "User_role_idx" ON public."User" USING btree (role);


--
-- Name: User_status_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "User_status_idx" ON public."User" USING btree (status);


--
-- Name: communication_attachments_communicationId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "communication_attachments_communicationId_idx" ON public.communication_attachments USING btree ("communicationId");


--
-- Name: communication_notes_communicationId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "communication_notes_communicationId_idx" ON public.communication_notes USING btree ("communicationId");


--
-- Name: communication_notes_customerId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "communication_notes_customerId_idx" ON public.communication_notes USING btree ("customerId");


--
-- Name: communication_notes_mentionedUserId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "communication_notes_mentionedUserId_idx" ON public.communication_notes USING btree ("mentionedUserId");


--
-- Name: communication_notes_organizationId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "communication_notes_organizationId_idx" ON public.communication_notes USING btree ("organizationId");


--
-- Name: communication_replies_communicationId_createdAt_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "communication_replies_communicationId_createdAt_idx" ON public.communication_replies USING btree ("communicationId", "createdAt");


--
-- Name: communication_templates_organizationId_isShared_category_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "communication_templates_organizationId_isShared_category_idx" ON public.communication_templates USING btree ("organizationId", "isShared", category);


--
-- Name: communication_templates_usageCount_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "communication_templates_usageCount_idx" ON public.communication_templates USING btree ("usageCount" DESC);


--
-- Name: communications_assignedToId_status_isDeleted_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "communications_assignedToId_status_isDeleted_idx" ON public.communications USING btree ("assignedToId", status, "isDeleted");


--
-- Name: communications_createdById_isDeleted_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "communications_createdById_isDeleted_idx" ON public.communications USING btree ("createdById", "isDeleted");


--
-- Name: communications_customerId_status_contactAt_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "communications_customerId_status_contactAt_idx" ON public.communications USING btree ("customerId", status, "contactAt" DESC);


--
-- Name: communications_isDeleted_contactAt_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "communications_isDeleted_contactAt_idx" ON public.communications USING btree ("isDeleted", "contactAt" DESC);


--
-- Name: insight_reports_customerId_itemKey_createdAt_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "insight_reports_customerId_itemKey_createdAt_idx" ON public.insight_reports USING btree ("customerId", "itemKey", "createdAt");


--
-- Name: insight_reports_customerId_sharedAt_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "insight_reports_customerId_sharedAt_idx" ON public.insight_reports USING btree ("customerId", "sharedAt");


--
-- Name: ActivityLog ActivityLog_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."ActivityLog"
    ADD CONSTRAINT "ActivityLog_userId_fkey" FOREIGN KEY ("userId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: Contract Contract_customerId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Contract"
    ADD CONSTRAINT "Contract_customerId_fkey" FOREIGN KEY ("customerId") REFERENCES public."Customer"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: Contract Contract_organizationId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Contract"
    ADD CONSTRAINT "Contract_organizationId_fkey" FOREIGN KEY ("organizationId") REFERENCES public."Organization"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: CustomRolePermission CustomRolePermission_roleId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."CustomRolePermission"
    ADD CONSTRAINT "CustomRolePermission_roleId_fkey" FOREIGN KEY ("roleId") REFERENCES public."CustomRole"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: CustomRole CustomRole_customerId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."CustomRole"
    ADD CONSTRAINT "CustomRole_customerId_fkey" FOREIGN KEY ("customerId") REFERENCES public."Customer"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: CustomRole CustomRole_organizationId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."CustomRole"
    ADD CONSTRAINT "CustomRole_organizationId_fkey" FOREIGN KEY ("organizationId") REFERENCES public."Organization"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: CustomRole CustomRole_templateId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."CustomRole"
    ADD CONSTRAINT "CustomRole_templateId_fkey" FOREIGN KEY ("templateId") REFERENCES public."RoleTemplate"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: CustomerAssignment CustomerAssignment_customerId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."CustomerAssignment"
    ADD CONSTRAINT "CustomerAssignment_customerId_fkey" FOREIGN KEY ("customerId") REFERENCES public."Customer"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: CustomerAssignment CustomerAssignment_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."CustomerAssignment"
    ADD CONSTRAINT "CustomerAssignment_userId_fkey" FOREIGN KEY ("userId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: CustomerInvitation CustomerInvitation_customerId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."CustomerInvitation"
    ADD CONSTRAINT "CustomerInvitation_customerId_fkey" FOREIGN KEY ("customerId") REFERENCES public."Customer"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: CustomerInvitation CustomerInvitation_organizationId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."CustomerInvitation"
    ADD CONSTRAINT "CustomerInvitation_organizationId_fkey" FOREIGN KEY ("organizationId") REFERENCES public."Organization"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: CustomerOrganization CustomerOrganization_customerId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."CustomerOrganization"
    ADD CONSTRAINT "CustomerOrganization_customerId_fkey" FOREIGN KEY ("customerId") REFERENCES public."Customer"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: CustomerOrganization CustomerOrganization_organizationId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."CustomerOrganization"
    ADD CONSTRAINT "CustomerOrganization_organizationId_fkey" FOREIGN KEY ("organizationId") REFERENCES public."Organization"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: Customer Customer_groupId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Customer"
    ADD CONSTRAINT "Customer_groupId_fkey" FOREIGN KEY ("groupId") REFERENCES public."CustomerGroup"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: Invoice Invoice_organizationId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Invoice"
    ADD CONSTRAINT "Invoice_organizationId_fkey" FOREIGN KEY ("organizationId") REFERENCES public."Organization"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: ItemLimitHistory ItemLimitHistory_itemKey_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."ItemLimitHistory"
    ADD CONSTRAINT "ItemLimitHistory_itemKey_fkey" FOREIGN KEY ("itemKey") REFERENCES public."Item"(key) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: MeasurementTemp MeasurementTemp_customerId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."MeasurementTemp"
    ADD CONSTRAINT "MeasurementTemp_customerId_fkey" FOREIGN KEY ("customerId") REFERENCES public."Customer"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: MeasurementTemp MeasurementTemp_stackId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."MeasurementTemp"
    ADD CONSTRAINT "MeasurementTemp_stackId_fkey" FOREIGN KEY ("stackId") REFERENCES public."Stack"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: Measurement Measurement_customerId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Measurement"
    ADD CONSTRAINT "Measurement_customerId_fkey" FOREIGN KEY ("customerId") REFERENCES public."Customer"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: Measurement Measurement_itemKey_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Measurement"
    ADD CONSTRAINT "Measurement_itemKey_fkey" FOREIGN KEY ("itemKey") REFERENCES public."Item"(key) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: Measurement Measurement_organizationId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Measurement"
    ADD CONSTRAINT "Measurement_organizationId_fkey" FOREIGN KEY ("organizationId") REFERENCES public."Organization"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: Measurement Measurement_stackId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Measurement"
    ADD CONSTRAINT "Measurement_stackId_fkey" FOREIGN KEY ("stackId") REFERENCES public."Stack"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: Notification Notification_customerId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Notification"
    ADD CONSTRAINT "Notification_customerId_fkey" FOREIGN KEY ("customerId") REFERENCES public."Customer"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: Notification Notification_stackId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Notification"
    ADD CONSTRAINT "Notification_stackId_fkey" FOREIGN KEY ("stackId") REFERENCES public."Stack"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: Notification Notification_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Notification"
    ADD CONSTRAINT "Notification_userId_fkey" FOREIGN KEY ("userId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: ReportTemplate ReportTemplate_customerId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."ReportTemplate"
    ADD CONSTRAINT "ReportTemplate_customerId_fkey" FOREIGN KEY ("customerId") REFERENCES public."Customer"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: Report Report_createdBy_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Report"
    ADD CONSTRAINT "Report_createdBy_fkey" FOREIGN KEY ("createdBy") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: Report Report_customerId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Report"
    ADD CONSTRAINT "Report_customerId_fkey" FOREIGN KEY ("customerId") REFERENCES public."Customer"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: Report Report_stackId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Report"
    ADD CONSTRAINT "Report_stackId_fkey" FOREIGN KEY ("stackId") REFERENCES public."Stack"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: RoleTemplatePermission RoleTemplatePermission_templateId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."RoleTemplatePermission"
    ADD CONSTRAINT "RoleTemplatePermission_templateId_fkey" FOREIGN KEY ("templateId") REFERENCES public."RoleTemplate"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: StackAlias StackAlias_stackId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."StackAlias"
    ADD CONSTRAINT "StackAlias_stackId_fkey" FOREIGN KEY ("stackId") REFERENCES public."Stack"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: StackAssignment StackAssignment_stackId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."StackAssignment"
    ADD CONSTRAINT "StackAssignment_stackId_fkey" FOREIGN KEY ("stackId") REFERENCES public."Stack"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: StackAssignment StackAssignment_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."StackAssignment"
    ADD CONSTRAINT "StackAssignment_userId_fkey" FOREIGN KEY ("userId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: StackCode StackCode_organizationId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."StackCode"
    ADD CONSTRAINT "StackCode_organizationId_fkey" FOREIGN KEY ("organizationId") REFERENCES public."Organization"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: StackCode StackCode_stackId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."StackCode"
    ADD CONSTRAINT "StackCode_stackId_fkey" FOREIGN KEY ("stackId") REFERENCES public."Stack"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: StackHistory StackHistory_changedBy_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."StackHistory"
    ADD CONSTRAINT "StackHistory_changedBy_fkey" FOREIGN KEY ("changedBy") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: StackHistory StackHistory_stackId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."StackHistory"
    ADD CONSTRAINT "StackHistory_stackId_fkey" FOREIGN KEY ("stackId") REFERENCES public."Stack"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: StackMeasurementItem StackMeasurementItem_itemKey_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."StackMeasurementItem"
    ADD CONSTRAINT "StackMeasurementItem_itemKey_fkey" FOREIGN KEY ("itemKey") REFERENCES public."Item"(key) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: StackMeasurementItem StackMeasurementItem_stackId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."StackMeasurementItem"
    ADD CONSTRAINT "StackMeasurementItem_stackId_fkey" FOREIGN KEY ("stackId") REFERENCES public."Stack"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: StackOrganization StackOrganization_organizationId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."StackOrganization"
    ADD CONSTRAINT "StackOrganization_organizationId_fkey" FOREIGN KEY ("organizationId") REFERENCES public."Organization"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: StackOrganization StackOrganization_stackId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."StackOrganization"
    ADD CONSTRAINT "StackOrganization_stackId_fkey" FOREIGN KEY ("stackId") REFERENCES public."Stack"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: StackRequest StackRequest_customerId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."StackRequest"
    ADD CONSTRAINT "StackRequest_customerId_fkey" FOREIGN KEY ("customerId") REFERENCES public."Customer"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: StackRequest StackRequest_existingStackId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."StackRequest"
    ADD CONSTRAINT "StackRequest_existingStackId_fkey" FOREIGN KEY ("existingStackId") REFERENCES public."Stack"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: StackRequest StackRequest_organizationId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."StackRequest"
    ADD CONSTRAINT "StackRequest_organizationId_fkey" FOREIGN KEY ("organizationId") REFERENCES public."Organization"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: StackUpdateLog StackUpdateLog_stackId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."StackUpdateLog"
    ADD CONSTRAINT "StackUpdateLog_stackId_fkey" FOREIGN KEY ("stackId") REFERENCES public."Stack"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: Stack Stack_customerId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Stack"
    ADD CONSTRAINT "Stack_customerId_fkey" FOREIGN KEY ("customerId") REFERENCES public."Customer"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: SubscriptionHistory SubscriptionHistory_organizationId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."SubscriptionHistory"
    ADD CONSTRAINT "SubscriptionHistory_organizationId_fkey" FOREIGN KEY ("organizationId") REFERENCES public."Organization"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: UserPermission UserPermission_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."UserPermission"
    ADD CONSTRAINT "UserPermission_userId_fkey" FOREIGN KEY ("userId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: User User_customRoleId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."User"
    ADD CONSTRAINT "User_customRoleId_fkey" FOREIGN KEY ("customRoleId") REFERENCES public."CustomRole"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: User User_customerGroupId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."User"
    ADD CONSTRAINT "User_customerGroupId_fkey" FOREIGN KEY ("customerGroupId") REFERENCES public."CustomerGroup"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: User User_customerId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."User"
    ADD CONSTRAINT "User_customerId_fkey" FOREIGN KEY ("customerId") REFERENCES public."Customer"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: User User_organizationId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."User"
    ADD CONSTRAINT "User_organizationId_fkey" FOREIGN KEY ("organizationId") REFERENCES public."Organization"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: communication_attachments communication_attachments_communicationId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.communication_attachments
    ADD CONSTRAINT "communication_attachments_communicationId_fkey" FOREIGN KEY ("communicationId") REFERENCES public.communications(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: communication_attachments communication_attachments_uploadedById_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.communication_attachments
    ADD CONSTRAINT "communication_attachments_uploadedById_fkey" FOREIGN KEY ("uploadedById") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: communication_notes communication_notes_communicationId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.communication_notes
    ADD CONSTRAINT "communication_notes_communicationId_fkey" FOREIGN KEY ("communicationId") REFERENCES public.communications(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: communication_notes communication_notes_createdById_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.communication_notes
    ADD CONSTRAINT "communication_notes_createdById_fkey" FOREIGN KEY ("createdById") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: communication_notes communication_notes_customerId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.communication_notes
    ADD CONSTRAINT "communication_notes_customerId_fkey" FOREIGN KEY ("customerId") REFERENCES public."Customer"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: communication_notes communication_notes_mentionedUserId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.communication_notes
    ADD CONSTRAINT "communication_notes_mentionedUserId_fkey" FOREIGN KEY ("mentionedUserId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: communication_notes communication_notes_organizationId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.communication_notes
    ADD CONSTRAINT "communication_notes_organizationId_fkey" FOREIGN KEY ("organizationId") REFERENCES public."Organization"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: communication_replies communication_replies_communicationId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.communication_replies
    ADD CONSTRAINT "communication_replies_communicationId_fkey" FOREIGN KEY ("communicationId") REFERENCES public.communications(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: communication_replies communication_replies_createdById_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.communication_replies
    ADD CONSTRAINT "communication_replies_createdById_fkey" FOREIGN KEY ("createdById") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: communication_templates communication_templates_createdById_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.communication_templates
    ADD CONSTRAINT "communication_templates_createdById_fkey" FOREIGN KEY ("createdById") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: communication_templates communication_templates_organizationId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.communication_templates
    ADD CONSTRAINT "communication_templates_organizationId_fkey" FOREIGN KEY ("organizationId") REFERENCES public."Organization"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: communications communications_assignedToId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.communications
    ADD CONSTRAINT "communications_assignedToId_fkey" FOREIGN KEY ("assignedToId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: communications communications_createdById_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.communications
    ADD CONSTRAINT "communications_createdById_fkey" FOREIGN KEY ("createdById") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: communications communications_customerId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.communications
    ADD CONSTRAINT "communications_customerId_fkey" FOREIGN KEY ("customerId") REFERENCES public."Customer"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: communications communications_measurementId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.communications
    ADD CONSTRAINT "communications_measurementId_fkey" FOREIGN KEY ("measurementId") REFERENCES public."Measurement"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: communications communications_stackId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.communications
    ADD CONSTRAINT "communications_stackId_fkey" FOREIGN KEY ("stackId") REFERENCES public."Stack"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: insight_reports insight_reports_createdBy_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.insight_reports
    ADD CONSTRAINT "insight_reports_createdBy_fkey" FOREIGN KEY ("createdBy") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: insight_reports insight_reports_customerId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.insight_reports
    ADD CONSTRAINT "insight_reports_customerId_fkey" FOREIGN KEY ("customerId") REFERENCES public."Customer"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: insight_reports insight_reports_sharedBy_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.insight_reports
    ADD CONSTRAINT "insight_reports_sharedBy_fkey" FOREIGN KEY ("sharedBy") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- PostgreSQL database dump complete
--

\unrestrict 8aM3yZCecjfcqrD6yvZOA1oyc4tYxCmCbPe53zYqQc9cIYOgeLp86rd9UGacJ6J

